[submodule "thea"]
	path = thea
	url = https://github.com/acttub/thea.git
[submodule "comm"]
	path = comm
	url = https://github.com/acttub/comm.git
[submodule "acttub-landing"]
	path = acttub-landing
	url = https://github.com/acttub/acttub-landing.git
[submodule "ACTI"]
	path = ACTI
	url = https://github.com/acttub/ACTI.git
[submodule "excer"]
	path = excer
	url = https://github.com/acttub/excer.git
[submodule "arch"]
	path = arch
	url = https://github.com/acttub/arch.git
